<div style="overflow:scroll; height:100%">
  <div class="container homepage">
    <div class="row-fluid homepage-content">
      <div class="col-md-3 aside">
        <h3>Nodes</h3>

        <div class="docs-cont"><!-- Lista dei nodi -->
          <!-- List of nodes-->
          <div ng-if="nodi.length != 0" class="media clearfix doc-thumb-container" ng-repeat="nodo in nodi">
            <div class="pull-left media-top" ng-switch="nodo.type">
              <img class="media-object mg-responsive doc-img"  ng-switch-when="code" src="css/img/code.png" alt="...">
              <img class="media-object mg-responsive doc-img"  ng-switch-when="link" src="css/img/link.png" alt="...">
              <img class="media-object mg-responsive doc-img"  ng-switch-when="text" src="css/img/text.png" alt="...">
              <img class="media-object mg-responsive doc-img"  ng-switch-when="image" src="css/img/image.png" alt="...">
              <span>{{nodo.copies_number}}</span>
            </div>
            <div class="" ng-click="">
              <div style="float:right;">
                <span data-toggle="modal" title="View Note" data-target="#myModal" ng-click="showModalNote(nodo)" class="glyphicon glyphicon-eye-open pull-right fa-lg"></span>
                <br />
                <span data-toggle="modal" title="Add Note" ng-click="importNote(nodo)" class="glyphicon glyphicon-share-alt pull-right fa-lg"></span>

              </div>
              <h4 class="">{{nodo.title}}</h4>
              <p class="">{{nodo.description}}</p>
              <p class="small">{{nodo.content}}</p>
            </div>

          </div>
          <!-- List of nodes end-->

          <!-- If no node are present-->
          <div ng-if="nodi.length == 0" class="media clearfix">
            <div class="text-center">
              <img class="media-object mg-responsive" style="max-width:130px; width:80%; margin: 30px auto;" src="css/img/node4.png" alt="...">
            </div>
            <div class="text-center text-muted " ng-click="">
              <h2 class="">Empty</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9 main-content center-block" style="background-color: rgba(152, 152, 152, 0.87);;">
        <div class="document-container">
          <div class="document">

            <h1 ng-click="editTitle()" ng-show="!docClicked">{{doc.name}}</h1><input type="text" ng-keyup="saveTitle($event, doc.name)" class="form-control" ng-show="docClicked" ng-model="doc.name"/>

            <p>Author: <i>{{doc.creator_name}} {{doc.creator_lastname}}</i></p>
            <div class="text-cont">
              <div class="new-node" id="node-{{nota.note_id}}" ng-repeat="nota in note">
                <fieldset>
                  <legend class="text-success text-right" style="font-size:10px;">
                    Note ({{nota.note_id}})
                  </legend>

                  <span ng-click="editDoc(nota)" ng-hide="nota.$$hashKey === selectedId" style="margin:0 10px;" title="Edit Note" class="glyphicon glyphicon-edit pull-right text-muted"></span>
                  <span ng-click="saveChanges(nota)" ng-show="nota.$$hashKey === selectedId" style="margin:0 10px;" title="Save changes" class="glyphicon glyphicon-tag pull-right text-muted"></span>
                  <span ng-click="deleteNode(nota.note_id)" ng-hide="nota.$$hashKey === selectedId" title="Remove Note" class="glyphicon glyphicon-remove pull-right text-muted"></span>
                  <h3 ng-hide="nota.$$hashKey === selectedId" style="margin-top:2px">{{nota.title}}</h3><input type="text" class="form-control" ng-show="nota.$$hashKey === selectedId" ng-model="nota.title"/>
                  <div ng-switch="nota.type">
                    <div ng-switch-when="code">
                      <p ng-hide="nota.$$hashKey === selectedId">{{nota.description}}</p><input type="text" class="form-control" ng-show="nota.$$hashKey === selectedId" ng-model="nota.description"/>
                      <pre>
                        <div ng-hide="nota.$$hashKey === selectedId">{{nota.content}}</div>
                      </pre>
                      <input type="text" class="form-control" ng-show="nota.$$hashKey === selectedId" ng-model="nota.content"/>
                    </div>
                    <div ng-switch-when="link">
                      <a ng-hide="nota.$$hashKey === selectedId" target="_blank" href={{nota.content}}>{{nota.description}}</a><input type="text" class="form-control" ng-show="nota.$$hashKey === selectedId" ng-model="nota.description"/>
                      <input type="text" class="form-control" ng-show="nota.$$hashKey === selectedId" ng-model="nota.content"/>
                    </div>
                    <div ng-switch-when="image">
                      <p ng-hide="nota.$$hashKey === selectedId">{{nota.description}}</p><input type="text" class="form-control" ng-show="nota.$$hashKey === selectedId" ng-model="nota.description"/>
                      <img class="img-responsive" style="max-width:50%; max-height:300px;" ng-hide="nota.$$hashKey === selectedId" ng-src="../Server_v02/images/{{nota.content}}"/>
                    </div>
                    <div ng-switch-default>
                      <i><h4 class="text-muted" ng-hide="nota.$$hashKey === selectedId">{{nota.description}}</h4></i><input type="text" class="form-control" ng-show="nota.$$hashKey === selectedId" ng-model="nota.description"/>
                      <blockquote>

                        <p style="white-space: pre-wrap;" ng-hide="nota.$$hashKey === selectedId">{{nota.content}}</p>
                      </blockquote>
                      <textarea class="form-control" ng-show="nota.$$hashKey === selectedId"  rows="4" ng-model="nota.content"></textarea>
                    </div>
                  </div>

                </fieldset>
              </div>
            </div>
            <!-- <div class="">
              <fieldset>
                <legend class="text-primary" style="font-size:10px;">New note</legend>
                <h3>{{data.title}}</h3>
                <p>{{data.description}}</p>
                <p>{{data.content}}</p>
              </fieldset>
            </div> -->

          </div>
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span class="" ng-switch="modalNote.type">
                  <img class="media-object media-left mg-responsive doc-img"  ng-switch-when="code" src="css/img/code.png" alt="...">
                  <img class="media-object media-left mg-responsive doc-img"  ng-switch-when="link" src="css/img/link.png" alt="...">
                  <img class="media-object media-left mg-responsive doc-img"  ng-switch-when="text" src="css/img/text.png" alt="...">
                  <img class="media-object  media-left mg-responsive doc-img"  ng-switch-when="image" src="css/img/image.png" alt="...">
                </span>
                <h4 class="modal-title">{{modalNote.title}}</h4>
              </div>
              <div class="modal-body">
                <span><b>N quotes:</b> {{modalNote.copies_number}}</span>
                <div ng-switch="modalNote.type">
                  <div ng-switch-when="code">
                    <p ng-hide="clicked">{{modalNote.description}}</p>
                    <pre>
                      <div ng-hide="clicked">{{modalNote.content}}</div>
                    </pre>
                    <input type="text" class="form-control" ng-show="clicked" ng-model="modalNote.content"/>
                  </div>
                  <div ng-switch-when="link">
                    <a ng-hide="clicked" href={{modalNote.content}}>{{modalNote.description}}</a>
                  </div>
                  <div ng-switch-when="image">
                    <p ng-hide="clicked">{{modalNote.description}}</p>
                    <img class="img-responsive" style="max-width:50%; max-height:300px;" ng-hide="clicked" src="{{modalNote.imageWithPath}}"/>
                  </div>
                  <div ng-switch-default>
                    <i><h4 class="text-muted" ng-hide="clicked">{{modalNote.description}}</h4></i>
                    <blockquote>
                      <p style="white-space: pre-wrap;" ng-hide="clicked">{{modalNote.content}}</p>
                    </blockquote>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn" ng-click="importNote(modalNote)" data-dismiss="modal"><span class="glyphicon glyphicon-plus-sign"></span>Add to doc</button>
              </div>

            </div>

          </div>
        </div>


        <div class="insert-node"><!--  ng-class="{'insert-node-collapsed': !toggle, 'insert-node-complete': toggle } -->
          <form>
            <div class="row">
              <fieldset class="form-group col-md-6">
                <label>Node title</label>
                <input type="text" class="form-control" id="note-title" ng-model="data.title"/>
              </fieldset>
              <fieldset class="form-group col-md-6" align="center">
                <label for="aaaaa">Select type</label>
                <select id="aaaaa" class="c-select" ng-model="data.type">
                  <option value="">-Please select-</option> <!-- not selected / blank option -->
                  <option value="text" selected>Text</option>
                  <option value="image">Image</option>
                  <option value="link">Link</option>
                  <option value="code">Code</option>
                </select>
              </fieldset>
              <!-- <div class="col-md-7">
              <span class="glyphicon  pull-right" ng-class="{'glyphicon-chevron-down': toggle, 'glyphicon-chevron-up': !toggle}" ng-click="toggleView()"></span>
            </div> -->
          </div>
          <div class="row">
            <span ng-switch on="data.type">

              <div ng-switch-when="image">
                <fieldset class="form-group col-md-6">
                  <label for="exampleTextarea">Image description</label>
                  <textarea class="form-control" id="exampleTextarea" rows="4" ng-model="data.description"></textarea>
                </fieldset>
                <fieldset  class="form-group col-md-6">
                  <label for="exampleInputFile">Load image</label>
                  <input type="file" base-sixty-four-input maxsize="1" class="form-control-file block well well-sm" id="exampleInputFile" ng-model="data.content">
                </fieldset>
              </div>

              <div ng-switch-when="text">
                <fieldset class="form-group col-md-6">
                  <label for="exampleTextarea">Subtitle (optional)</label>
                  <input class="form-control" id="exampleTextarea" ng-model="data.description"></input>
                </fieldset>
                <fieldset  class="form-group col-md-6">
                  <label for="exampleTextarea">Insert here your note</label>
                  <textarea class="form-control" id="exampleTextarea" rows="4" ng-model="data.content"></textarea>
                </fieldset>
              </div>

              <div ng-switch-when="link">
                <fieldset class="form-group col-md-6">
                  <label for="exampleTextarea">Link name</label>
                  <input class="form-control" id="exampleTextarea" ng-model="data.description"></input>
                </fieldset>
                <fieldset class="form-group col-md-6">
                  <label for="asd">Link URL</label>
                  <input type="link" class="form-control" id="asd" ng-model="data.content"></input>
                </fieldset>
              </div>

              <div ng-switch-when="code">
                <fieldset class="form-group col-md-6">
                  <label for="exampleTextarea">Code description</label>
                  <textarea class="form-control" id="exampleTextarea" rows="4" ng-model="data.description"></textarea>
                </fieldset>
                <fieldset  class="form-group col-md-6">
                  <label for="asd">Insert here your snippet</label>
                  <textarea type="code" class="form-control" rows="4" id="asd" ng-model="data.content"></textarea>
                </fieldset>

              </div>
            </span>
          </div>
          <fieldset class="form-group">
            <button type="submit" class="btn btn-danger" ng-click="goto('home')">End Session</button>
            <button type="submit" class="btn btn-secondary pull-right" ng-click="addNodo(data)">Add note</button>

          </fielset>
        </form>

      </div>
      </div>
    </div>
  </div>
</div>
